cryptography==48.0.0
Django==6.0.5
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
docx==0.2.4
fitz==0.0.1.dev2
httpx==0.28.1
pandas==3.0.3
protobuf==7.35.0
python-dotenv==1.2.2
gunicorn==26.0.0
whitenoise==6.12.0
